params {
    hmf_data_paths {
        '38' {
            // Isofox
            alt_sj_distribution           = 'rna/isofox.hmf_3444.alt_sj_cohort.38.csv'
            gene_exp_distribution         = 'rna/isofox.hmf_3444.gene_distribution.38.csv'
            isofox_counts                 = 'rna/read_151_exp_counts.38.csv'
            isofox_gc_ratios              = 'rna/read_100_exp_gc_ratios.38.csv'
            // Common
            ensembl_data_resources        = 'common/ensembl_data/'
            known_fusion_data             = 'dna/sv/known_fusion_data.38.csv'
        }
    }
}
