/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HMF genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths.
----------------------------------------------------------------------------------------
*/


params {
    genomes {
        'GRCh38_hmf' {
            fasta         = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/GRCh38_masked_exclusions_alts_hlas.fasta"
            fai           = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/samtools_index-1.16/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
            dict          = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/samtools_index-1.16/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
            star_index    = "${params.hmf_genomes_base}/GRCh38_hmf/25.1/star_index-gencode_38-2.7.3a.tar.gz"
            rseqc_bed     = 'https://sourceforge.net/projects/rseqc/files/BED/Human_Homo_sapiens/hg38_rRNA.bed.gz'
        }
    }
}
