params {
    hmf_data_paths {
        '38' {
            // Isofox - Updated for HMF pipeline resources v2.3.0
            alt_sj_distribution           = 'rna/isofox.hmf_38_151_2600.alt_sj_cohort.csv.gz'
            gene_exp_distribution         = 'rna/isofox.hmf_38_151_2600.gene_distribution.csv.gz'
            isofox_counts                 = 'rna/read_151_exp_counts.38.csv'
            isofox_gc_ratios              = 'rna/read_100_exp_gc_ratios.38.csv'
            // Common
            ensembl_data_resources        = 'common/ensembl_data/'
            known_fusion_data             = 'dna/sv/known_fusion_data.38.csv'
            // Redux
            unmap_regions                 = 'common/unmap_regions.38.tsv'
            msi_jitter_sites              = 'dna/variants/msi_jitter_sites.38.tsv.gz'
            // SortMeRNA
            sortmerna_db                  = 'rna/smr_v4.3_default_db.fasta'
        }
    }
}
