/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing REDUX on RNA data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test: just run REDUX on a pre-aligned BAM.

    Use as follows:
        nextflow run . -profile test_redux,docker -c local_resources.config --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'REDUX Test profile'
    config_profile_description = 'Test REDUX duplicate marking on RNA BAM'

    // Run mode
    mode   = 'redux_test'
    genome = 'GRCh38_hmf'

    // Dummy input (required by rna_workflow.nf at parse time, even though we don't use it)
    input = params.pipelines_testdata_base_path + '/samplesheet/fastq_eval.subject_a.wgts.trna.minimal.csv'

    // Input BAM for REDUX test
    redux_test_bam = '/home/rhassaine/hmf_rnaseq/redux_on_rna_test/subject_a.tumor_rna.library_1.001.final.bam'
}
